{{!-- <div class="jumbotron">
  <h1 class="display-4">East Valley Beer Finder</h1>
  <p class="lead">Find that perfect brew from your local breweries</p>
  <hr class="my-4">
  <p>Search by brewery, or type of beer to see what's on tap for you. </p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div> --}}