.display-4 {
	font-family: pacifico;
	text-align: center;
	margin-bottom: 55px;
	margin-top: -10px;
	font-size: 100px;
}

.btn-circle {
	background-color: #F84221;
	border: none;


}

.jumbotron {
	background-color: #FDD65B;
}

body {
	background-color: #FDD65B;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
	color: #F84221;
}

.row {
	margin-left: 180px;
	margin-right: 180px;
}

.card {
	border: none;
}

<<<<<<< HEAD
.card-body {
	background-image: url("assets/images/0161.jpg")
}

#beer_list_body {
=======
.beer_list_body {
>>>>>>> 2477f1feed961e556ccbc2d3af481a640dfee08c
    background-image: url("assets/images/beerWall.jpg");

}

.dropdown {
	float: right;
	margin-right: 400px;
}

.image {
	width: 100%;
}


/*.billboard {
	background-image: url('../images/bartenderTaps.jpg');
}

/*background-color: #FDD65B;