.display-4 {
	font-family: pacifico;
	text-align: center;
	margin-bottom: 55px;
	margin-top: -10px;
	font-size: 100px;
}

.btn-circle {
	background-color: #F84221;
	border: none;


}

.jumbotron {
    background-color: #FDD65B;
    padding-bottom: 10px;
}

body {
	background-color: #FDD65B;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
	color: #F84221;
}

.row {
	margin-left: 180px;
	margin-right: 180px;
}

.card {
	border: none;
    margin-bottom: 30px;
    position: relative;
}


#read-more:after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

}

.beer_list_body {
    background-image: url("assets/images/beerWall.jpg");

}

.dropdown {
	float: right;
	margin-right: 400px;
}

.image {
	width: 100%;
}

.card:hover {
    -webkit-animation: jello 1s;
    animation: jello 1s;
}



.text-muted {
	text-align: center;
}



/*.billboard {
	background-image: url('../images/bartenderTaps.jpg');
}

/*background-color: #FDD65B;